## Pandas-tehtävät

#### Lisää tarvittavat kirjastot ja lue `testidata.csv` niminen tiedosto DataFrame-objektiin

In [ ]:
#

#### Tulosta DataFrame-objektin viisi viimeistä riviä

In [ ]:
#

#### Tulosta datan sarakkeiden otsikot list-objektina

In [ ]:
#

#### Tulosta `sarake2`:n pituus

In [ ]:
#

#### Tulosta datan ensimmäinen rivin tiedot

In [ ]:
#

#### Pudota datasta  `Unnamed: 0` niminen sarake ja todenna lopputulos valitsemallasi tavalla

In [ ]:
#

#### Poista rivit, jos sarakkeessa `sarake1` esiintyy arvo 0.2 tai pienempi

In [ ]:
#

#### Tulosta `sarake1` sarakkeen minimi- ja maksimiarvo

In [ ]:
#

In [ ]:
#

#### Tee ensimmäisen rivin ensimmäisen sarakkeen arvosta nan

In [ ]:
#

#### Pudota rivit, joissa esiintyy nan-arvo

In [ ]:
#

#### Muuta viidennen ja kymmenennen rivin kaikiksi arvoiksi nan

In [ ]:
#

#### Tulosta nan-arvojen määrä jokaisesta sarakkeesta DataFrame-objektista

In [ ]:
#

#### Täytä edellä tehdyt nan-arvot lineaarisella interpolaatiolla

In [ ]:
#

#### Vaihda `sarake1`:n viimeiseksi arvoksi 94 ja `sarake3`:n viimeiseksi arvoksi 45

In [ ]:
#

#### Lisää uusi sarake DataFrame-objektiin (`sarake4`), joka koostuu sarakkeiden `sarake1` ja `sarake3` summasta

In [ ]:
#

#### Resetoi DataFrame-objektin indeksi ja tulosta rivien määrä

In [ ]:
#

#### Tee DataFrame-objektin mittainen aikasarjadata haluamallasi aikavälillä ja tee siitä indeksisarake

In [ ]:
#

#### Muuta `sarake1` kaikki arvot merkkijonoiksi, joissa jokainen nolla on korvattu isolla 'ND'-kirjainyhdistelmällä.

In [ ]:
#

#### Tee DataFrame-objektista kopio, jonka sarakkeiden nimet on muutettu seuraaviksi : `sarake5`, `sarake6`, `sarake7`, `sarake8`. Tämän jälkeen tee yksi iso DataFrame-objekti, joka koostuu alkuperäisestä DataFramesta sekä kopiosta niin, että ne on lisätty vierekkäin.


| sarake1        | sarake2           | sarake3  | sarake4 | sarake5      | sarake6 | sarake7 | sarake8 |
| ------------- |:-------------:| -----:| ------------- |:-------------:| -----:|-----:|-----:|
| 0.1      | 0.2 | 0.3 | ... | ...  | ... | ... | ... |

In [ ]:
#

#### Sijoita `sarake5`:n viimeinen arvo muuttujaan sekä `sarake3`:n viimeinen arvo erilliseen muuttujaan juuri tehdystä DataFrame-objektista merkkijonomuodossa. Summaa kyseiset muuttujat merkkijonona sekä poista kaksi viimeistä merkkiä lopputuloksesta. Lopuksi poista kaikki pisteet `.`.

In [ ]:
#

#### Tallenna lopputulos data_export.csv-nimiseen tiedostoon (tiedostoa hyödynnetään seuraavassa harjoituksessa).

In [ ]:
#